<ActionBar title="Zapiski">
    <NavigationButton icon="~/resources/back-icon.png" [nsRouterLink]="['/login']"></NavigationButton>
</ActionBar>
<GridLayout rows="*, auto" verticalAlignment="stretch" horizontalAlignment="stretch" class="app-page">
    <ScrollView row="0" orientation="vertical" horizontalAlignment="stretch" verticalAlignment="stretch">
        <GridLayout rows="auto, auto, auto" verticalAlignment="stretch" horizontalAlignment="stretch">
            <Image row="0" width="100" height="100" marginBottom="15" marginTop="20" stretch="aspectFit" horizontalAlignment="center" src="~/resources/notes-logo.png"></Image>
            <Label row="1" class="h2 page-title" text="Registracija uporabnika"></Label>
            <StackLayout row="3" class="login-stack">
                <Label class="field-label" text="Uporabniško ime:" ></Label>
                <TextField class="text-field" [(ngModel)]="username" hint="Uporabniško ime"></TextField>
                <Label class="field-label" text="Geslo:"></Label>
                <TextField class="text-field" [(ngModel)]="password" hint="Geslo" secure="true"></TextField>
                <Label class="field-label" text="Ponovi geslo:"></Label>
                <TextField class="text-field" [(ngModel)]="confirmPassword" hint="Geslo" secure="true"></TextField>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <button row="1" text="REGISTRACIJA" (Tap)="onRegisterNewUser()" verticalAlignment="bottom" margin="0"></button>
</GridLayout>