/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.dark.css';

.app-page {
    background-color: #373737;
    color: #C7D2DC;
}
.page-title {
    color: #ffa040;
    horizontal-align: center;
    margin: 20;
}
.dialog-stack {
    background-color: #1b1b1b;
    padding: 10;
    width: 90%;
}
.dialog-title {
    color: #ffa040;
}

.login-stack {
    margin: 10;
}

.field-label {
    font-size: 17;
    margin-left: 5;
}

.text-field {
    placeholder-color: #ffc68c;
    margin-bottom: 10;
}

h2 {
    color: #ffa040;
}

Label {
    color: #C7D2DC;
}

Button {
    background-color: #f57f17;
    border: none;
    color: white;
    height: 60;
    font-size: 16;
}

ActionBar {
    background-color: #1b1b1b;
    color: #ffa040;
}

.navigationBar {
    background-color: #1b1b1b;
    color: #ffa040;
    font-size: 17;
    font-weight: bold;
}

