<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->

<GridLayout rows="*" columns="*" horizontalAlignment="stretch" verticalAlignment="stretch">
    <page-router-outlet row="0"></page-router-outlet>
    <!--<ContentView row="0" backgroundColor="black" opacity="0.2"></ContentView>-->
    <ActivityIndicator row="0" verticalAlignment="center" horizontalAlignment="center" width="80" height="80" [busy]="isBusy"></ActivityIndicator>
    <GridLayout visibility="{{isAlertDisplayed ? 'visible' : 'hidden'}}" row="0" rows="auto, auto, auto" verticalAlignment="center" class="dialog-stack">
        <Label row="0" [text]="alertTitle" class="dialog-title h2"></Label>
        <Label row="1" marginTop="10" marginBottom="15" [text]="alertText" textWrap="true"></Label>
        <Button row="2" [text]="alertButtonText" horizontalAlignment="right" (tap)="onAlertConfirmed()"></Button>
    </GridLayout>
</GridLayout>

