<RadSideDrawer>
    <StackLayout tkDrawerContent verticalAlignment="stretch">
        <app-navigation-drawer (close)="switchDrawerOpen()"></app-navigation-drawer>
    </StackLayout>
    <GridLayout tkMainContent columns="*" rows="*" verticalAlignment="stretch" horizontalAlignment="stretch" class="app-page">
        <ActionBar title="Zapiski">
            <NavigationButton icon="~/resources/stack-icon.png" (tap)="switchDrawerOpen()"></NavigationButton>
        </ActionBar>
        <ListView [items]="notes" class="list-group" row="0">
            <ng-template let-item="item">
                <GridLayout rows="auto, auto" columns="*, auto" class="list-group-item" [nsRouterLink]="['/note', item.id]">
                    <Label row="0" col="0" [text]="item.title"></Label>
                    <Label row="1" col="0"  text="{{item.dateTimeChanged | datetime}}"></Label>
                    <Button row="0" col="1" rowSpan="2" text="ODSTRANI" backgroundColor="#8b0000" (tap)="deleteNote(item)"></Button>
                </GridLayout>
            </ng-template>
        </ListView>
        <StackLayout row="0" verticalAlignment="bottom" horizontalAlignment="right">
            <FAB  [nsRouterLink]="['/note', -1]" icon="~/resources/plus-icon.png" rippleColor="#c46512" class="fab-button"></FAB>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>
