<RadSideDrawer>
    <StackLayout tkDrawerContent verticalAlignment="stretch">
        <app-navigation-drawer (close)="onCloseDrawer()"></app-navigation-drawer>
    </StackLayout>
    <ActionBar title="Zapiski">
        <NavigationButton icon="~/resources/back-icon.png" [nsRouterLink]="['/notes']"></NavigationButton>
        <ActionItem icon="~/resources/bell-icon.png" (tap)="onSetNotification()" ios.position="right"></ActionItem>
    </ActionBar>
    <GridLayout tkMainContent rows="*, auto" class="app-page">
        <ScrollView>
            <StackLayout class="login-stack">
                <Label class="field-label" row="0" text="Naslov:"></Label>
                <TextField class="text-field" row="1" [(ngModel)]="note.title"></TextField>
                <Label class="field-label" row="2" text="Besedilo:"></Label>
                <TextView class="text-field" row="3" height="200" [(ngModel)]="note.text"></TextView>
                <GridLayout columns="*, auto" orientation="horizontal">
                    <Label class="field-label" col="0" text="Priponke:" verticalAlignment="center"></Label>
                    <Button col="1" height="50" text="DODAJ" (tap)="onAddAttachment()"></Button>
                </GridLayout>
                <GridLayout columns="*, auto" *ngFor="let att of note.attachments" margin="10" marginRight="0">
                    <image col="0" [src]="att.getImageSource()" width="60" height="60" stretch="aspectFit" horizontalAlignment="left"></image>
                    <Button col="1" height="40" backgroundColor="#8b0000" text="ODSTRANI" (tap)="onRemoveAttachment(att)" verticalAlignment="center"></Button>
                </GridLayout>
            </StackLayout>
        </ScrollView>
        <button row="1" text="SHRANI" (Tap)="onSave()"></button>
    </GridLayout>
</RadSideDrawer>



