<GridLayout rows="*, auto" verticalAlignment="stretch" horizontalAlignment="stretch" class="app-page">
    <ScrollView row="0" orientation="vertical" horizontalAlignment="stretch" verticalAlignment="stretch">
        <GridLayout rows="auto, auto, auto, auto" cols="*, *" verticalAlignment="stretch" horizontalAlignment="stretch">
            <Label row="0" col="0" class="register" text="SLO" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="register" text="REGISTRIRAJ SE" [nsRouterLink]="['/registration']" horizontalAlignment="right"></Label>
            <Image row="1" colSpan="2" width="100" height="100" marginBottom="30" stretch="aspectFit" horizontalAlignment="center" src="~/resources/notes-logo.png"></Image>
            <Label row="2" colSpan="2" class="h2 page-title" text="Prijava v aplikacijo"></Label>
            <StackLayout row="3" colSpan="2" class="login-stack">
                <Label class="field-label" text="Uporabniško ime:" ></Label>
                <TextField class="text-field" [(ngModel)]="username" hint="Uporabniško ime"></TextField>
                <Label class="field-label" text="Geslo:"></Label>
                <TextField class="text-field" [(ngModel)]="password" hint="Geslo" secure="true"></TextField>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <button row="1" text="PRIJAVA" (Tap)="onLogin()" verticalAlignment="bottom" margin="0"></button>
</GridLayout>

