<ContentView verticalAlignment="stretch" horizontalAlignment="stretch" class="app-page">
    <ActivityIndicator row="0" rowSpan="2" busy="true" width="80" height="80" color="#f57f17" verticalAlignment="center" horizontalAlignment="center" class="activity-indicator"> </ActivityIndicator>
</ContentView>

