﻿^contentpage {
    background-color: #373737;
}

Label {
    color: #C7D2DC;
}

Button {
    background-color: #f57f17;
    border: none;
    color: white;
    height: 50;
    font-size: 16;
    font-weight: bold;
}

.page-title {
    color: #ffa040;
    text-align: center;
    margin: 20;
    font-size: large;
}

.login-stack {
    margin: 10;
}

.field-label {
    font-size: 17;
    margin-left: 5;
}

.text-field {
    margin-bottom: 10;
}

.master-button {
    color: #ffa040;
    vert-align: middle;
}
