
<GridLayout rows="auto, *, auto" columns="*" class="app-page" backgroundColor="#373737">
    <StackLayout row="0" class="navigationBar" orientation="horizontal" height="60">
        <Image src="~/resources/back-icon.png" marginRight="20" marginLeft="15" height="18" width="18" verticalAlignment="center" (tap)="onClose()"></Image>
        <label class="navigationBar" text="Nastavi obvestilo" verticalAlignment="center"></label>
    </StackLayout>
    <ScrollView row="1" col="0" margin="10">
        <GridLayout rows="*, auto, auto, auto, auto, *">
            <Label row="1" class="field-label" text="Izberi datum" horizontalAlignment="center"></Label>
            <DatePicker row="2" col="0" colSpan="2" (loaded)="onDatePickerLoaded($event)" (dateChange)="onDateChanged($event)"></DatePicker>
            <Label row="3" class="field-label" text="Izberi uro" horizontalAlignment="center"></Label>
            <TimePicker row="4" col="0" colSpan="2" (loaded)="onTimePickerLoaded($event)" (timeChange)="onTimePickerTimeChanged($event)" verticalAlignment="center"></TimePicker>
        </GridLayout>
    </ScrollView>

    <Button row="2" col="0" text="POTRDI" (tap)="onConfirm()"></Button>
</GridLayout>