.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    padding: 10;
    font-size: 13;
    horizontal-align: left;
    color:  #ffa040;
}

.separator {
    background-color: #ffa040;
}

.close-button {
    padding: 13;
    color: #ffa040;
    horizontal-align: center;
    vertical-align: bottom;
}

.sideStackLayout {
    background-color: #1b1b1b;
}

.sideLabel {
    padding: 10;
}
