<GridLayout rows="auto, auto, auto, auto, auto, auto, *" class="sideStackLayout" verticalAlignment="stretch">
    <Image width="100" marginTop="10" height="100" stretch="aspectFit" horizontalAlignment="center" src="~/resources/notes-logo.png"></Image>
    <Label row="1" class="drawerContentButton" text="PRIJAVLJEN UPORABNIK: {{loggedInUser}}"></Label>
    <ContentView row="2" class="separator" horizontalAlignment="stretch" height="2px"></ContentView>
    <Label row="3" class="drawerContentButton" text="DODAJ ZAPISEK" (tap)="onAddNote()"></Label>
    <Label row="4" class="drawerContentButton" text="SINHRONIZIRAJ" (tap)="onSynchronize()"></Label>
    <ContentView row="5" class="separator" horizontalAlignment="stretch" height="2px"></ContentView>
    <Label row="6" class="drawerContentButton" text="ODJAVA" (tap)="onLogout()"></Label>
    <Label row="7" class="close-button" text="ZAPRI" (tap)="onClose()"></Label>
</GridLayout>